.grid {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.grid__item {
  width: 400px; /* Fixed width for each grid item */
  height: 400px; /* Fixed height for each grid item */
  text-align: center;
}

.item__content {
  height: 100%; /* Ensure content fills the entire grid item */
  padding: 2rem;
  background: radial-gradient(to right, rgb(6, 79, 161), #ff0000);
  border: 2px solid #fff;
  box-sizing: border-box; /* Include padding in width/height calculation */
}

.title {
  /* Title styles */
  font-size: 30px;
  color: #2474b4;
  margin-top: 20%;
  /* Add any other styles you want for the title */
}

.description {
  /* Description styles */
  margin-top: 15px;
  color: #2474b4;
  /* Add any other styles you want for the description */
}
