.custom-image-gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Adjusted minmax width */
  gap: 10px; /* Decreased the gap between images */
  margin-left: 17%;
  margin-top: 10%;
}

.custom-image {
  --color: #8a9b0f; /* the border color */
  --border: 10px; /* the border thickness */
  --offset: 20px; /* control the offset */
  --gap: 5px; /* the gap on hover */

  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),
    var(--color) 0;
  --_o: calc(3 * var(--offset));
  padding: calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background: linear-gradient(var(--_c)) var(--_o) var(--_o),
    linear-gradient(90deg, var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  filter: grayscale(0.4);
  transition: 0.5s ease;
  cursor: pointer;
}

.custom-image:hover {
  background-position: 0px 0px;
  background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
  filter: grayscale(0);
}

.ImageTestOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initial opacity set to 0 */
  transition: opacity 0.3s ease;
}

.custom-image:hover .ImageTestOverlay {
  opacity: 1; /* Change opacity to 1 when hovered */
}

.ImageTestOverlay h1 {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.image-container:hover .ImageTestOverlay {
  opacity: 1;
  background-color: rgb(186, 39, 39);
  border-radius: 50%;
}
